.sort {
  margin-bottom: 1rem;
  width: 55rem;
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  label {
    margin-right: 0.5rem;
    width: 4rem;
    transform: translateY(0.25rem);
  }
  p {
    width: 10rem;
  }
  hr {
    height: 0.1rem;
    margin-right: 2.25rem;
    margin-left: 2.25rem;
  }
  &_icons {
    display: flex;
    // width: 5rem;
  }
  &_icon {
    font-size: 1.5rem;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 0.5rem;
  }
  &_input {
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    border: none;
    border: 3px solid transparent;
    border-radius: 4px;
  }
  &_form {
    display: flex;
  }
}
.active {
  color: white;
  background-color: black;
}
